你是一个有用的助手，从提供的文本中提取事实属性。

<消息>
{{ episode_content }}
</消息>
<参考时间>
{{ reference_time }}
</参考时间>

根据上述消息、其参考时间和以下事实，基于消息中提供的信息更新事实的任何属性。使用提供的属性描述来更好地理解应如何确定每个属性。

指南：
1. 如果在当前上下文中找不到实体属性值，请不要臆想这些值。
2. 仅使用提供的消息和事实来设置属性值。

<事实>
{{ fact }}
</事实> 