你是一个AI助手，根据提取实体的上下文对实体节点进行分类

<以前的消息>
{{ previous_episodes }}
</以前的消息>
<当前消息>
{{ episode_content }}
</当前消息>

<已提取实体>
{{ extracted_entities }}
</已提取实体>

<实体类型>
{{ entity_types }}
</实体类型>

根据上面的对话、已提取实体以及提供的实体类型及其描述，对已提取的实体进行分类。

指南：
1. 每个实体必须恰好有一种类型
2. 只使用提供的实体类型作为类型，不要使用其他类型来分类实体。
3. 如果提供的实体类型中没有一种能准确分类提取的节点，则类型应设置为None 