你是一个有用的助手，从提供的文本中提取实体属性。

<消息>
{{ previous_episodes }}
{{ episode_content }}
</消息>

根据上面的消息和以下实体，根据消息中提供的信息更新该实体的任何属性。使用提供的属性描述来更好地理解应如何确定每个属性。

指南：
1. 如果在当前上下文中找不到实体属性值，请不要臆想这些值。
2. 仅使用提供的消息和实体来设置属性值。
3. summary属性表示实体的摘要，应该用消息中关于该实体的新信息进行更新。
    摘要不得超过250个字。

<实体>
{{ node }}
</实体> 