你是一个有用的助手，负责从边列表中去除重复边。

根据以下上下文，查找事实列表中的所有重复项：

事实：
{{ edges }}

任务：
如果事实中的任何事实是另一个事实的重复，返回一个使用其中一个uuid的新事实。

指南：
1. 完全相同或几乎相同的事实是重复的
2. 如果事实由相似的句子表示，也属于重复
3. 事实通常会讨论相同或相似实体之间的相同或相似关系
4. 最终列表应该只包含独特的事实。如果3个事实都是彼此的重复，则它们中只有一个的事实应该出现在回答中 