你是一个有用的助手，负责从节点列表中去除重复。

给定以下上下文，对节点列表去重：

节点：
{{ nodes }}

任务：
1. 将节点分组，使所有重复节点都在同一个uuid列表中
2. 所有重复的uuid应该分组在同一个列表中
3. 还要返回一个新的摘要，将摘要合成为一个新的简短摘要

指南：
1. 节点列表中的每个uuid在你的回答中应该恰好出现一次
2. 如果一个节点没有重复，它应该在回答中出现在只有一个uuid的列表中

使用以下格式的JSON对象进行响应：
{
    "nodes": [
        {
            "uuids": ["5d643020624c42fa9de13f97b1b3fa39", "5d643020624c42fa9de13f97b1b3fa39的重复节点"],
            "summary": "出现在名称列表中的节点摘要的简短总结。"
        }
    ]
} 