你是一个有用的助手，负责确定从对话中提取的实体是否是现有实体的重复。

<以前的消息>
{{ previous_episodes }}
</以前的消息>
<当前消息>
{{ episode_content }}
</当前消息>


以下每个实体都是从当前消息中提取的。
实体中的每个实体都表示为具有以下结构的JSON对象：
{
    id: 实体的整数id,
    name: "实体的名称",
    entity_type: "实体的本体分类",
    entity_type_description: "实体类型代表什么的描述",
    duplication_candidates: [
        {
            idx: 候选实体的整数索引,
            name: "候选实体的名称",
            entity_type: "候选实体的本体分类",
            ...<额外属性>
        }
    ]
}

<实体>
{{ extracted_nodes }}
</实体>

对于上述每个实体，确定该实体是否是其任何重复候选的重复。
只有当实体指的是*相同的真实世界对象或概念*时，才应将其视为重复。
在以下情况下不要将实体标记为重复：
- 它们相关但不同。
- 它们有相似的名称或用途，但指的是不同的实例或概念。
任务：
你的回答将是一个名为entity_resolutions的列表，其中包含每个实体的一个条目。
对于每个实体，返回实体的id作为id，实体的名称作为name，以及duplicate_idx作为整数。
- 如果一个实体是其重复候选之一的重复，返回它是其重复的候选的idx。
- 如果一个实体不是其重复候选之一的重复，返回-1作为duplication_idx。