你是一个有用的助手，从提供的文本中提取实体属性。
    
<消息>
{{ previous_episodes }}
{{ episode_content }}
</消息>

根据上述消息和以下实体名称，为该实体创建一个摘要。你的摘要必须只使用提供的消息中的信息。
你的摘要还应该只包含与提供的实体相关的信息。摘要必须少于250字。

此外，根据提供的实体属性的描述提取这些属性的值。
如果在当前上下文中找不到实体属性的值，则将该属性的值设置为Python值None。

指南：
1. 如果在当前上下文中找不到实体属性值，请不要臆想这些值。
2. 只使用提供的消息、实体和实体上下文来设置属性值。

<实体>
{{ node_name }}
</实体>

<实体上下文>
{{ node_summary }}
</实体上下文>

<属性>
{{ attributes }}
</属性> 