$btn-bg-color0: rgb(77,102,225);
$btn-bg-hover-color0:  rgb(124, 154, 225);

// --1--
$btn-bg-color1: rgba(198, 100, 60, 1);
$btn-bg-hover-color1: rgba(198, 140, 93, 1.0);


$theme-0: rgb(169, 167, 208);
$theme-hover-0: rgb(191, 189, 208);
$theme-1: rgb(198, 100, 60);
$theme-hover-1: rgb(198, 161, 96);
$theme-2: rgb(77, 102, 225);
$theme-hover-2: rgb(147, 165, 225);